* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
    color: #ffffff;
}

#tags button  {
    background-color: #E87078;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
window#waybar {
    background-color: #E87078;
    transition-property: background-color;
    transition-duration: .5s;
}

#tags button.occupied  {
    background-color: #ED8D93;
}

#tags button.focused  {
    background-color: #f4b8bc;
}

#tags button.urgent  {
    background-color: #ef9ba1;
}

#tags button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #f6c6c9;
}

#custom-netspeed,
#pulseaudio
{
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-dunst
{
    padding: 3px;
    padding-left: 10px;
    padding-right: 18px;
}

#clock
{

    background: #ed8d93;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
