* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
    color: #ffffff;
}

#tags button  {
    background-color: #006060;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
window#waybar {
    background-color: #006060;
    transition-property: background-color;
    transition-duration: .5s;
}

#tags button.occupied  {
    background-color: #338080;
}

#tags button.focused  {
    background-color: #80b0b0;
}

#tags button.urgent  {
    background-color: #4d9090;
}

#tags button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #99bfbf;
}

#custom-netspeed,
#pulseaudio
{
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

#clock
{
    background: #338080;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
